<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>Welcome to the world of WealthOZ</h1>

  <h2>
    This is the home page for the sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("123.png", alt: "WealthOZ"), 'http://wealthoz.com/' %>

<%= render 'parts/video_youtube' %>
