<% provide(:title, 'Home') %>

<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      <section>
        
      </section>
    </aside>
  </div>
<% else %>
<div class="center hero-unit">
	
	<%= render 'shared/video_youtube' %>
	
	<h3>"Wealth OZ" a financial app that solves the two most
		difficult and important financial problems out there." 
	</h3>
	<%= link_to "Sign up it's free!", signup_path , class: "btn btn-lg btn-success" %>
	<h2>Problem A</h2>
	<p>People do not know their WEALTH !!!</p>
	
	<h2>Problem B</h2>
	<p>People do not know their GROUP WEALTH !!!</p>
	<h2>COMING SOON ...</h2>
  
</div>
<% end %>

