<% provide(:title, 'Group Settings') %>

<h1>Manage Your Group Settings</h1>


<br>
<br>
  <div class="row">
    <aside class="span4">
    <section>
        <%= render 'shared/user_info' %>
    </section>
    <section>
    	<%= link_to "1. Create New Wealth Group", new_group_path , class: "btn btn-success" %>
    	<br>
    	<br>
    	<%= link_to "2. Link to an existing Wealth Group",edit_user_path(current_user) , class: "btn btn-success" %>
    	<br>
    	<br>		
		<%= link_to "3. Change your currency",edit_group_path(current_user) , class: "btn btn-danger" %>
    </section>

      
    </aside>
  </div>

