<% provide(:title, 'Why') %>

<h1>StaticPages#why</h1>
<p>Understand WHY we have developed this APP!</p>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    			<li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Sign Out</a></li>
  </ul>
</div>

<div class="btn-group">
  <button class="btn">Left</button>
  <button class="btn">Middle</button>
  <button class="btn">Right</button>
</div>


<p>Loans status:</p>




