= form_for(@group_user, url: group_user_path) do |f|
  = f.label :group_id, "Change Your Wealth Group"
  = f.collection_select(:group_id, Group.all, :id, :name )

  = f.submit 'Request Permision', class: 'btn btn-primary'

%p *You can participate in only one Wealth Group.
%p *Members of a Wealth Group can be very close family members or a trusted accountant.
%p *After your Request a Permision to join an existing Wealth Group your permision must be approved
by an athorizer member of this Group.
