=render 'chart_index'
<div class="span5" id='chart'>
</div>
= render_chart @chart_ratio, "chart"
<div class="span10">

.row
  .span6
    = wealth_assets_text(@wealth_assets)
  .span6
    = margin_text(@margin)
