<% provide(:title, "Create new group :") %>


<%= render 'shared/group_form' %>

<h1>... then link your account to this group</h1>
<%= link_to "Link to an existing Wealth Group",edit_user_path(current_user) , class: "btn btn-success" %>