<% provide(:title, "Create new group :") %>


<%= render 'shared/group_form' %>

<h5 class = "text-danger">Create only ONE new Wealth Group and you automaticaly join that new group.</h5>
<h5 class = "info">Users can have only one Wealth Group. There they can measure their mutual Wealth with family members and projects.</h5>
