<% provide(:title, "Create new group :") %>


<%= render 'shared/group_form' %>

<h4>... then link your Profile to this Group</h4>
<%= link_to "Link to Wealth Group",edit_user_path(current_user) , class: "btn btn-success" %>