<h1>Create New Wealth Group:</h1>
<%= form_for(@group) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :name, placeholder: "Create a Wealth Group!" %>
  </div>
  <%= f.submit "Save", class: "btn btn-large btn-primary" %>
<% end %>