<a data-toggle="modal" data-target=".bs-example124-modal-lg">*Wealth Units</a>

<div class="modal fade bs-example124-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        	<h4 class="modal-title" id="myModalLabel">Wealth Units</h4>
      	</div>
Wealth Units are all People, Projects and Entetis who measure their Group Wealth. 
They are all in one Wealth Group and percieve thier transactions as mutual transactions.

     
    </div>
  </div>
</div>