<script type="text/javascript">
$(function() {
        var scntDiv = $('#addledgers');
        var i = $('#addledgers div').size() + 1;

        $('#addfields').on('click', function() {
                $('<div class="field"><h2>Transactions ' + i +'</h2><input id="account__id' + i +'" name="ledgers[][account_id]" placeholder="account" type="text" /><input id="[wunit__id]' + i +'" name="ledgers[][wunit_id]" placeholder="wunit" type="text" /></div>').appendTo(scntDiv);
                i++;
                return false;
        });


});

</script>
<div id="addledgers">
<div class="field">
 <h2>Transaction 1</h2>
 <%= text_field_tag "ledgers[][account_id]", nil, :placeholder => "account" %>
 <%= text_field_tag "ledgers[][wunit_id]", nil, :placeholder => "wunit" %>
 
 
</div>
</div>

<a href="#" id="addfields">Add a New Transaction</a><br/>