%table{:class => "table table-striped table-hover "}
  %tr
    %th Accounts/W.units
    -@column_count.times do |i|
      %th=@column_headers[i]
    %th Total
        
  %tr
    %td= @row1.header   
    -@column_count.times do |i|
      %td= @row1a[i]            
    %td= @row1.total
          
  %tr{:class => "info"}
    %td Total Wealth
    -@column_count.times do |i|
      %td=@column_total[i]
    %td= @g_total

%p
  =@row1a
  =@columns
  
  