<section>
<h4 align="center" class="text-success" >WealthOZ  Financials </h4>
<h5 align="center" class="text-success">Mutual Transparency</h5>
	
<ul class="nav nav-tabs " style="margin-bottom: 15px;">
<li class="active"><a href="#home" data-toggle="tab">Balance Sheet</a></li>
<li><a href="#profile" data-toggle="tab">Profit&Loss Statement </a></li>
<li><a href="#profile1" data-toggle="tab">Other</a></li>
<li><a href="#profile2" data-toggle="tab">Whealth Index</a></li>
</ul>
</section>


= @wealthoz.name
