<footer class="footer">
  <small>
    <p>Copyright © 2013 WealthOZ.com</p> 
    <p>All Rights Reserved. </p>
      
  </small>
  <nav>
    <ul>
      <li>	</li>
      <li>	</li>
      <li><a href="http://blog.wealthoz.com/">Blog</a></li>
    </ul>
  </nav>
</footer>