    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><h4>TODO LIST:</h4> </li>
              
			      <form class="navbar-form navbar-left" role="search">
			        <div class="form-group">
			          <input type="text" class="form-control" placeholder="Search">
			        </div>
			        <button type="button" class="btn btn-default btn-lg">
			        	<span class="glyphicon glyphicon-star"></span> Search</button>
			        
			      </form>
              <li><%= link_to "Link1", "/path1"  %></li>
              <li><%= link_to "Link2", "/path2"  %></li>
              <li><%= link_to "Link4", "/path4"  %></li>
              
              
              
            </ul>
          </div><!--/.well -->
        </div><!--/span-->